body {
    background-image: linear-gradient(rgba(19, 8, 8, .7), rgba(17, 9, 9, .7)), url(img/round.jpg);
}


.inputs__box:last-child::before {
    visibility: hidden;
}




/*
.checkbox__input {

}
.inputs:hover .inputs__box:last-child {
    display: none;
}
*/

